<nav class="navbar navbar-default">
  <div class="container-fluid">
    {{navbar-header}}

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
          <li>{{#link-to "create-contact"}}New Contact{{/link-to}}</li>
          <li>{{#link-to "contacts"}}Contacts{{/link-to}}</li>
          <li>{{#link-to "change-password"}}My Account{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

<div class="col-md-8 col-md-offset-2">
  {{outlet}}
</div>
