{{#if isAuthenticated}}
  <div class="col-lg-12 col-md-12 col-sm-12 text-center">
    <h3><a href="#">New Contact</a></h3>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 text-center">
    <h3><a href="#">View Contacts</a></h3>
  </div>
  {{input type="text" value=search placeholder="search" class="search"}}
{{else}}
  <h1 class="text-center"> Welcome to ContactMe</h1>
  <div class="col-lg-12 col-md-12 col-sm-12 text-center">
    {{#link-to 'sign-in'}}<h3>SIGN IN</h3>{{/link-to}}
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 text-center">
    {{#link-to 'sign-up'}}<h3>SIGN UP</h3>{{/link-to}}
  </div>
{{/if}}
