{{#if isAuthenticated}}
<div class="landing">
  <div style="font-size:80px;" class="col-lg-12 col-md-12 col-sm-12 text-center land">
    {{#link-to 'create-contact'}}<p>New Contact</p>{{/link-to}}
  </div>

  <div style="font-size:80px;" class="col-lg-12 col-md-12 col-sm-12 text-center land">
    {{#link-to 'contacts'}}<p>My Contacts</p>{{/link-to}}
  </div>

  <div style="font-size:80px;" class="col-lg-12 col-md-12 col-sm-12 text-center land">
    {{#link-to 'change-password'}}<p>My Account</p>{{/link-to}}
  </div>
</div>
  {{else}}
  <p>Hmmm... It appears you're not signed in.</p>
  <h1>{{#link-to 'sign-in' class="text-center"}}Login!!!{{/link-to}}</h1>
{{/if}}
