<div class="col-lg-12 col-md-12 col-sm-12 text-center change-pw">

<h2>Change Password</h2>

{{change-password-form submit="changePassword" passwords=model}}

</div>

<button {{action "signOut"}} class='btn btn-danger sign-out'>Sign Out</button>
