<h2 class='text-center'>Contacts</h2>

{{#each model as |contact|}}
  <ul>
    {{#if contact.first_name}}
    <li>{{#link-to 'contact' contact}}{{contact.first_name}}{{/link-to}}</li>
    {{else}}
    <li>{{#link-to 'contact' contact}}Noname{{/link-to}}</li>
    {{/if}}
  </ul>
{{/each}}

<p class='text-center'>{{#link-to 'landing'}}Return to Main Page{{/link-to}}</p>
